<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
</head>
<body>
    <p>Hello {{ user.get_username }},</p>

    <p>You're receiving this email because you requested a password reset for your account at our site.</p>

    <p>Please click the following link to reset your password:</p>

    <p><a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Reset Password</a></p>

    <p>If you did not request a password reset, please ignore this email.</p>

    <p>Thank you,</p>
    <p>The {{ site_name }} team</p>
</body>
</html>
